/* Fonts */
@font-face {
	font-family:"rajdhani";
	src: url("Fonts/Rajdhani-Regular.ttf") format("truetype");
  }
/* Fin Fonts */
*{
	margin: 0;
	font-family:"rajdhani";
	font-weight: bold;
}

/* ---===Body===--- */
body>div{
	display:block;
	/* background-color: #ecf8fc */
}
/* ---===FIN Body===--- */

/* ---===nav bar===--- */
.nav{
	font-size:16px;
	width:100%;
	background-color:#86BBD8;
}
.nav-tabs{
	border-color: grey !important;
}
.nav-tabs>li.active>a{
	border-color: grey !important;
	border-bottom-color:white !important;
}
.onglet_fullscreen{
	/* position:absolute;
	right:0; */
	flex-grow:5;
	padding-top: 0.25%;

}
.onglet_fullscreen>a{
	color:black;
	/* border-color:grey !important; */
}
.onglet_fullscreen>a:hover{
	border-color:#cecece !important;
	/* border-style:dotted; */
	border-bottom-color:white  !important;
	background-color:white !important;
}
.onglet_options{
	/* margin-left:1%; */
	padding-top: 0.25%;
	display:flex !important;
	flex-grow:75;
	text-align:center;
}

.onglet_options>div{
	margin: auto 0;
}
.li_vide{
	flex-grow:1000;
}
.onglet_options:hover{
	border-bottom:1px solid grey !important;
	background-color: #ecf8fc;
}
.onglet_options>div{
	display:flex;
 
	flex-direction: row;
}
.label_nav_options{
	margin:auto !important;
}
.espace{
	width:0.5em;
}

.submenu{
	display: none;
	width:max-content;
}

.submenu li{
	background-color: #D6E0E5;
	padding: 0px 5px 0px 5px;
}

.submenu a{
	color: rgb(33, 37, 41);
}

.nav li:hover .submenu{
	display:inline-block;
	position:absolute;
	top:100%;
	left:0px;
	padding:0px;
	z-index:10000;
}



/* ---===FIN nav bar===--- */


/* ---===Container===--- */

/*---Titre/Nom trajectoires---*/
#info_fichier{
	display:flex;
	flex-direction: row;
}

.titre_fichier{
	font-size: 20px;
	text-align: center;
	margin:auto;
	width: 50%;
}

.param_fichier{
	font-size: 20px;
	text-align: center;
	margin:1%;
	width: 50%;
	font-weight: normal;
}


/*---FIN Titre/Nom trajectoires---*/

/*---Container des fenetres*/
.container{
	max-width:100%;
	padding: 0;
	margin: 0;
}

.row{
	height: 500px;
	max-width:100%;
	margin: 0 !important;
	padding: 0 0 0.75% 0.75%;
}

.col-{
	height:60vh;
	width:50%;
	padding-right : 0.75%; 
	/* margin-right:0.5%; */
}

/*---Fenetre---*/
.body_boite{
	border : solid 1px grey;
	/* padding-left: 2px; */
	display:flex;
	flex-direction: row;
	height:100%;
	background-color: white;
	/* margin-right:1%; */
}

/*---Menu des Fenetres*/
.menu_boite{
	width: 20%;
	height: 100%;
	border-right : solid 1px grey;
	background-color: #f2efe9;
	display:flex;
	flex-direction: column;
}

.titre_boite{
	font-family:"rajdhani";
	font-weight:bold;
	font-size: 15px;
	text-align: center;
	background-color:#86BBD8;
	border-bottom:1px solid black;
}

/*---Menu des boutons réduire/fullscreen---*/
.menu_bouton_affichage{
	display:flex;
	flex-direction: row;
	padding: 8% 5% 4% 5%;
	height:10%
	
}
.menu_bouton_affichage>div{
	margin:auto;
	font-size:0px;
	background-color:white;
	margin:0 1%;
	border-radius: 7px;
}
.bouton_reduire{
	text-align: center;
	flex-grow: 1;
}
.bouton_full_screen{
	text-align:center;
	flex-grow: 1;
}
.menu_bouton_affichage>div:hover{
	background-color: #33658A;
	color:#f0f6fd;
}
.newWindowButton_fullscreen{
	height:10%;
}

/*---FIN Menu des boutons réduire/fullscreen---*/

/*---Menu boutons mouvements fenetre---*/
.menu_bouton_mouvement{
	display:flex;
	flex-direction:column;
	/* border-bottom:1px solid black; */
	padding: 4% 5%;
	border-radius:4px;
	height:25%;

}

.menu_bouton_mouvement>div{
	flex-grow: 1;
	text-align:center;
	background-color: white;
	opacity: 1;
	margin:1%;
	border-radius: 6px;
}
.menu_bouton_mouvement>div:hover{
	background-color: #33658A;
	color:#f0f6fd;
}
/*---FIN Menu boutons mouvements fenetre---*/

/* Menu Select trajectoires */
.item-list-traj{
	margin: 1% 0 !important;
	padding: 5% 5% !important;
	
}
.item-list-traj>i,.item-list-traj>div{
	display:inline;
	font-size:14px;
}

.options_list_traj{
	display:flex;
	flex-direction: row;	
	margin:0 auto;
}
.all-selected{
	display:flex;
	flex-direction:row;
	margin-right:2%;
}
.all-selected:hover{
	color:#789ba6;
}
.not-selected{
	display:flex;
	flex-direction:row;
	margin-left:2%;
}
.not-selected:hover{
	color:#789ba6;
}


.input_bouton-select_traj{
	width:100%;
}
.menu_choix_traj{
	flex-shrink:1;
	flex-grow:1; 
	flex-basis: 100px;
	height:60%;
	max-height:60% !important;
	max-height:100% !important;
	margin:0 !important;
	padding:5% 5% !important;
	display:flex;
	flex-direction:column;
	/* border-radius:6px; */
}
.card-body{
	background-color:white;
}
.bouton-select_traj{
	width:100%;
	height:15%;
	padding:0% !important;
	box-sizing: content-box;
	background-color:white !important;
	border-radius:2px;
	display:flex;
	flex-direction:column;
	
	padding:1% 50%;
}
.bouton-select_traj>img{
	font-size:250%;
}
.bouton-select_traj>div{
	margin:2% 0;
}
.bouton-select_traj>i,.bouton-select_traj>img{
	text-align: center;
	margin:0 auto;
	
}
.label_select_trajectory{
	text-align: center;
}
.bouton-select_traj>img:hover{
	opacity: 0;
}
.list_traj{
	/* background-color:white; */
	padding:0!important;
}


.collapse_list_traj{
	overflow-y:auto;
	overflow-x:hidden;
	/* height:50%; */
}
.header_bouton-select_traj{
	display:flex;
	flex-direction:column;
}
.header_bouton-select_traj>div{
	
}
.li_select_traj{
	display:flex;
	flex-direction:row;
	border:1px solid #33658A;
	color:#33658A;
	border-radius:4px;
	list-style: none;
}
.bouton_select_all-none{
	display:flex;
	flex-direction:row;
	border:1px solid #33658A;
	color:#33658A;
	border-radius:4px;
	list-style: none;
}
.bouton_select_all-none:hover{
	border-color: #33658A;
	color:white;
	background-color:#33658A;
}
/* .li_select_traj:hover{
	border:1px solid white;
	color:white;
	background-color:#33658A;
} */
.li_select_traj.selected{
	border-color: #33658A;
	color:white;
	background-color:#33658A;
}
/* .li_select_traj.selected:hover{
	border-color: #33658A;
	color:#33658A;
	background-color:white;
} */
.label_select_traj{
	margin:auto 0;
}
.list_traj>li{
	margin-top:2%;
	margin-bottom:2%;
}
.li_search{
	margin-top:15% !important;
	list-style: none;
}
.li_separator{
	list-style: none;
	border-bottom:1px solid black;
	margin:5% 20% 5% 20% !important;
}

.rotated-180{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); 
}
/* Fin Menu Select trajectoires */

/*---Bouton réduire menu fenetre---*/
.bouton_reduire_menu{
	display:flex;
	width:2%;
	max-width:5%;
	border-right:1px black solid;
	background-color:#86BBD8
}
.bouton_reduire_menu:hover{
	background-color: #33658A;
	color:#f0f6fd;
}
.bouton_reduire_menu_actif{
	background-color: #33658A;
	color:white;
}
.logo_reduire_menu{
	margin: auto;
}
/*---FIN Bouton réduire menu fenetre---*/

/*---FIN Menu des Fenetres*/

.menu_bouton_mouvement>div{
	flex-grow: 1;
	text-align:center;
	background-color: white;
	opacity: 1;
	margin:1%;
	border-radius: 6px;
}
.menu_bouton_mouvement>div:hover{
	background-color: #33658A;
	color:#f0f6fd;
}
/*---FIN Menu boutons mouvements fenetre---*/

/* Menu Select trajectoires */
.item-list-traj{
	margin: 1% 0 !important;
	padding: 5% 5% !important;
	
}
.item-list-traj>i,.item-list-traj>div{
	display:inline;
	font-size:14px;
}

.options_list_traj{
	display:flex;
	flex-direction: row;	
	margin:0 auto;
}
.all-selected{
	display:flex;
	flex-direction:row;
	margin-right:2%;
}
.all-selected:hover{
	color:#789ba6;
}
.not-selected{
	display:flex;
	flex-direction:row;
	margin-left:2%;
}
.not-selected:hover{
	color:#789ba6;
}


.input_bouton-select_traj{
	width:100%;
}
.menu_choix_traj{
	flex-shrink:1;
	flex-grow:1; 
	flex-basis: 100px;
	max-height:100% !important;
	margin:0 !important;
	padding:5% 5% !important;
	display:flex;
	flex-direction:column;
	/* border-radius:6px; */
}
.card-body{
	background-color:white;
}
.bouton-select_traj{
	width:100%;
	height:15%;
	padding:0% !important;
	box-sizing: content-box;
	background-color:white !important;
	border-radius:2px;
	display:flex;
	flex-direction:column;
	
	padding:1% 50%;
}
.bouton-select_traj>img{
	font-size:250%;
}
.bouton-select_traj>div{
	margin:2% 0;
}
.bouton-select_traj>i,.bouton-select_traj>img{
	text-align: center;
	margin:0 auto;
	
}
.label_select_trajectory{
	text-align: center;
}
.bouton-select_traj>img:hover{
	opacity: 0;
}
.list_traj{
	/* background-color:white; */
	padding:0!important;
}


.collapse_list_traj{
	overflow:auto;
	height:85%;
}
.header_bouton-select_traj{
	display:flex;
	flex-direction:column;
}
.header_bouton-select_traj>div{
	
}
.li_select_traj{
	display:flex;
	flex-direction:row;
	border:1px solid #33658A;
	color:#33658A;
	border-radius:4px;
	list-style: none;
}
.bouton_select_all-none{
	display:flex;
	flex-direction:row;
	border:1px solid #33658A;
	color:#33658A;
	border-radius:4px;
	list-style: none;
}
.bouton_select_all-none:hover{
	border-color: #33658A;
	color:white;
	background-color:#33658A;
}
/* .li_select_traj:hover{
	border:1px solid white;
	color:white;
	background-color:#33658A;
} */
.li_select_traj.selected{
	border-color: #33658A;
	color:white;
	background-color:#33658A;
}
/* .li_select_traj.selected:hover{
	border-color: #33658A;
	color:#33658A;
	background-color:white;
} */
.label_select_traj{
	margin:auto 0;
}
.list_traj>li{
	margin-top:2%;
	margin-bottom:2%;
}
.li_search{
	margin-top:15% !important;
	list-style: none;
}
.li_separator{
	list-style: none;
	border-bottom:1px solid black;
	margin:5% 20% 5% 20% !important;
}

.rotated-180{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg); 
}
/* Fin Menu Select trajectoires */

/*---Bouton réduire menu fenetre---*/
.bouton_reduire_menu{
	display:flex;
	width:2%;
	max-width:5%;
	border-right:1px black solid;
	background-color:#86BBD8
}
.bouton_reduire_menu:hover{
	background-color: #33658A;
	color:#f0f6fd;
}
.bouton_reduire_menu_actif{
	background-color: #33658A;
	color:white;
}
.logo_reduire_menu{
	margin: auto;
}
/*---FIN Bouton réduire menu fenetre---*/

/*---FIN Menu des Fenetres*/

/*---Map Leaflet---*/
.map{
	flex-grow: 1;
	max-height: 100%;
}

.div_map{
	width :100%;
	height: 100%;
}
.well{
	flex-shrink: 1;
}

/* popup */
.popup_content{
	display:flex;
	flex-direction:column;
}
.popup_content>div{
	margin:4% 0%;
}
.popup_infos{
	display:flex;
	flex-direction:row;
}
.popup_lineseparator{
	margin:5% 10%;
	border:0.5px solid grey;

}
.container_textInfoTraj{
	display:flex;
	flex-direction: column;
}
.popup_boutonHide{
	border:1px solid #33658A;
	color:#33658A;
	text-align:center;
	border-radius:4px;
	margin:4% auto !important;
	padding:0 5%;
}
.popup_boutonHide:hover{
	border:1px solid white;
	color:white;
	background-color:#33658A;

}
.popup_labels{
	color:#33658A;
}
/*---FIN Map Leaflet---*/

/*---Fin Fenetre---*/

/*---FIN Container des fenetres*/

/* ---===FIN Container===--- */




/* ---===Footer===--- */
#footer{
	position:fixed;
	height:30px;
	bottom:0px;
	background-color: #33658A;
	width:100%;
	display:flex;
	flex-direction: row;
	z-index:10000;
	border:1px solid black; 
}

.onglet_fenetre{
	text-align:center;
	padding : 0 5%;
	border : solid 1px grey;
	font-size:1.2rem;
}

.onglet_fenetre:hover{
	background-color: #a3aab3;
	color:white;
}
.couleur_onglet{
	background-color: #86BBD8;
}
.onglet_fenetre_reduit{
	background-color: #a3aab3;
	color:white;
}
/* ---===FIN Footer===--- */

/*Style (barre, separator, etc...)*/
.vertical_separator_grey{
	border-left:1px solid #d5f5ff;
	margin:auto 0px auto 0px !important;
	padding:0px !important;
	height:65%;
}

.vertical_separator_black{
	border-left:1px solid black;
	margin:auto 2% auto 2% !important;
	padding:0 !important;
	height:80%;
}

.line_separator{
	border-top:1px solid black;
	margin: 0 10%;
}
/*FIN Style (barre, separator, etc...)*/

.tab-content>div{
	flex-grow:1;
}


/* Modal */

.modal{
	font-size: 16px;
}